<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>
            Upload files.
        </title>
    </head>
    <body>
        <h1>
            Upload image
        </h1>
        <label>
            Host:
            <input type="text" id="server_url">
        </label>
        <form id="form_data" name="file" enctype="multipart/form-data">
            <input type="file" id="file" name="file" onchange="file_upload()">
            <p id="uploader-status"></p>
        </form>
    </body>
    <script src="http://code.jquery.com/jquery-3.3.1.js"></script>
    <script>
        function file_upload() {
            const url = 'http://' + document.getElementById('server_url').value;
            const formData = new FormData();
            formData.append('file', $('input[type=file]')[0].files[0]);
            $.ajax({
                url: url,
                data: formData,
                type: 'POST',
                contentType: false,
                processData: false,
            });
        }
    </script>
</html>